@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
$font:'Poppins', sans-serif;
$color-primary: #0095a7;
$card-bg:#e9e9e9;
$card-text-color:darken($color-primary,10%);
$body-bg: rgba(234, 234, 234, 0.55);
body{
  font-family: $font;
  background-color:$body-bg;
}
.left-column{
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
}
.section-title{
  margin: 15px;
  color:$card-text-color;
  font-weight: 400 !important;
  font-family: "Arial Black";
  display:inline-block !important;
  margin-top: 1rem;
  text-align: center;
  clear: both;
  &--black{
    color:black;
    font-weight:bold;
  }
}
.text-light{
  color: #454545 !important;
}
.card{
  padding: 0.5rem;
  box-shadow: 1px 1px #eeee;
  border-radius: 1rem;
  border: none;
  background-color: $card-bg;
}
.vertical-image{
  background-color:$color-primary;
  height: 2rem;
  width:100%;
  display: inline-block;
}
.section-content{
  padding: 15px;
}
.lang-icon{
  width:2rem;
  height:2rem;
}
.langs-list {

      .lang {
            padding: 5px;
            &__name {
              font-weight: bold;
            }
            &__level {
              color: #656565;
              padding-left: 10px;
            }
      }
}
.hobies-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .hoby{
          padding: 10px;
          display: flex;
          flex-direction: column;
          &__img{
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
          }
          &__name{
            font-weight: bold;
            margin-left: 10px;
          }
          &__example{
            margin-left: 10px;
          }
      }
}
